<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
  </head>
  <body>
    {{> header}}123
    <p>Some about us text here</p>

    {{> footer}}
  </body>
</html>
